@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime;

<div class="page">
    <main>
        <div style="background-color:aquamarine" class="top-row px-4">
            <div class="container-fluid">
                <a class="navbar-brand" href="">LOGO(ちゆき)</a>
            </div>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">INFORMATION</a>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">BIOGRAPHY</a>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">DISCOGRAPHY</a>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">MOVIE</a>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">CONTACT</a>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">SHOP</a>
            <a href="https://twitter.com/chiyuki_chuuuki" class="twitterSize ">
                <img src="/Twitter social icons - circle - blue.png" alt="TWITTER">
            </a>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool first)
    {
        await callJS();
        await base.OnInitializedAsync();
    }

    private async Task callJS()
    {
        await JSRuntime.InvokeVoidAsync("FromBlazorFunc");
    }
}