@inherits LayoutComponentBase
<div class="page">
    <main>
        <div id="fixed">
            <ToggleMenu />
        </div>
        <div class="top-row px-4">
            <div class="container-fluid">
                <a class="navbar-brand logoSize" href="https://twitter.com/chiyuki_chuuuki">
                    <img src="https://chiyukiofficial.github.io/hp/picture/chiyukiLogo.png" alt="LOGO">
                </a>
            </div>
            <a href="#"><span style="font-size:32px; padding-top:3px;" class="fas fa-info-circle"></span></a>
            <a href="https://twitter.com/chiyuki_chuuuki" class="twitterSize">
                <img src="https://chiyukiofficial.github.io/hp/picture/Twitter social icons - circle - blue.png" alt="TWITTER">
            </a>
            <a href="https://t.co/AxwMJ5XdSw" class="twitterSize">
                <img src="https://chiyukiofficial.github.io/hp/picture/iriam.png" alt="IRIAM">
            </a>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>