<div id="Button" class="fas fa-align-justify"></div>
<div class="Nav">
    <a class="item1" href="https://twitter.com/chiyuki_chuuuki"><span class="fas fa-info-circle">INFO</span></a>
    <a class="item2" href="https://twitter.com/chiyuki_chuuuki"><span class="fab fa-twitter-square"></span></a>
</div>

<canvas id="canvas"></canvas>

<script id="rendered-js" suppress-error="BL9992" src="js/togglemenu.js"></script>