<div id="Button" class="fas fa-fire"></div>

<div class="Nav">
  <a href="#"><span class="fas fa-home"></span></a>
  <a href="#"><span class="fas fa-user"></span></a>
  <a href="#"><span class="fas fa-upload"></span></a>
  <a href="#"><span class="fas fa-wrench"></span></a>
</div>

<canvas id ="canvas"></canvas>
<script id="rendered-js" suppress-error="BL9992" src="js/togglemenu.js"></script>