<div id="Button" class="fas fa-align-justify"></div>

<div class="Nav">
  <a href="#"><span class="fas fa-info-circle"></span>INFO</a>
  <a href="#"><span class="far fa-envelope"></span>CONTACT</a>
</div>

<canvas id ="canvas"></canvas>
<script id="rendered-js" suppress-error="BL9992" src="js/togglemenu.js"></script>